@import '../../settings.scss';

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;padding: calculateRem();
  height: 80%;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2%;
}

.input {
  margin: calculateRem() auto 0 auto;
}

.field, textarea {
  color: $secondary-color;
  font-weight: bold;
  border:none;
  background-image:none;
  box-shadow: none;
}

.label{
  text-align: start;
  color: $light-grey;
  font-weight: bold;
}

.field, .textarea {
  display: flex;
  flex-direction: column;
  margin-top: calculateRem(3px);
}

textarea {
  resize: none;
}

.btn-submit {
  margin: calculateRem(24px) auto;
  align-self: center;
}