@import '../../globalVars/mixins';
@import '../../globalVars/variables';

.btn-round {
  font-size: calculateRem(32px);
  border-radius: 50%;
  width: calculateRem(48px);
  height: calculateRem(48px);
  border: none;
  background-color: $secondary-color;
  color: $white;

  &.active {
    background-color: rgba($dark-grey, 0.5);
  }
}

.form-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: calculateRem(24px) auto;

}

.field, .textarea {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}