@import '../../settings.scss';

.cards {
  width: 100%;
  margin: auto 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-round {
  font-size: calculateRem(32px);
  border-radius: 50%;
  width: calculateRem(48px);
  height: calculateRem(48px);
  border: none;
  background-color: $secondary-color;
  color: $white;

  &.active {
    background-color: rgba($dark-grey, 0.5);
  }
}

.modal-btn {
  margin: calculateRem() 48%;
}