@import '../../globalVars/mixins';
@import '../../globalVars/variables';

.modal {
  background-color: $primary-color;
  position: absolute;
  left: 0;
  right: 0;
  top: calculateRem(80px);
  bottom: 0;
  margin: auto;
  width: calculateRem(550px);
  height: calculateRem(300px);
  box-shadow: 0 5px 10px 2px rgba($light-grey, 0.7);
  padding: 10px;
  text-align: center;
  border-radius: calculateRem(20px);
}