@import '..//../../globalVars/variables';
@import '../../../globalVars/mixins';

.header {
  display: flex;
  justify-content: center;
  color: $primary-color;
  font-size: calculateRem($h1-font-size);
}