@import '../../globalVars/mixins';

.toggler{
  display: flex;
  justify-content: center;
}

.btn{
  border: none;
  height: calculateRem(32px);
  width: calculateRem(150px);
  margin: calculateRem() 0;
  color: white;
  font-size: calculateRem(18px);
}

.btn:first-of-type{
  border-bottom-left-radius: calculateRem($base-border-radius);
  border-top-left-radius: calculateRem($base-border-radius);
  background-color: rgba($dark-grey, 0.5);
  &.active {
    font-weight: bold;
    background-color: $secondary-color;
  }
}

.btn:last-of-type{
  border-bottom-right-radius: calculateRem($base-border-radius);
  border-top-right-radius: calculateRem($base-border-radius);
  background-color: rgba($dark-grey, 0.5);
  &.active {
    font-weight: bold;
    background-color: $secondary-color;
  }
}