$font-stack: Helvetica;

$base-font-size: 16px;
$h1-font-size: 48px;
$table-headers-font-size: 32px;

$primary-color: #FF9F00; // orange
$secondary-color: #68C0B4; // light green
$white: #F6F7EB;
$black: #393E41;
$light-grey: #F5F5F5;
$dark-grey: #A3A9AA;

$base-border-radius: 10px;