$font-stack: Helvetica;

$base-font-size: 16px;
$h1-font-size: 48px;

$primary-color: #FF9F00; // orange
$secondary-color: #68C0B4; // light green
$white: #FFFFFF;
$black: #101010;
$light-grey: #F5F5F5;

$base-border-radius: 10px;