@import '../../globalVars/variables';
@import '../../globalVars/mixins';

.city-details {
  width: 60%;
  margin: calculateRem() auto;
}

.title-container {
  color: $secondary-color;
}

.description-container {
  margin-bottom: calculateRem();
}

.description-container, .title-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.detail-img{
  height: 60vh;
}

.detail-img, .title-container {
  width: 100%;
}

.input-detail {
  border: none;
  text-align: center;
  background-color: $light-grey;
  border-bottom: 2px solid $secondary-color;
  color: $secondary-color;

  &::placeholder{
    color: $secondary-color;
    font-size: calculateRem();
  }
}

.city-name, .title-input {
  margin: calculateRem() 0;
  font-size: calculateRem(64px);
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: $secondary-color;
  font-weight: bold;
  margin: auto calculateRem();
  transform: rotateY(180deg);
  width: calculateRem(20px);
  height: calculateRem(20px);
  font-size: calculateRem(18px);

  &:hover {
    color: $primary-color;
  }
}

.page-content{
  text-align: center;
}