@import '../../globalVars/mixins';

.container {
  margin: 5vh auto;
  width: 80vw;
  height: 60vh;
  box-shadow: 0 5px 10px 2px rgba($secondary-color, 0.7);
}

.marker-icon {
  height: calculateRem();
  width: calculateRem();
}
