@import '../../settings.scss';

.container {
  margin: 5vh auto;
  width: 80vw;
  height: 60vh;
  box-shadow: 0 calculateRem(5px) calculateRem(10px) calculateRem(2px) rgba($secondary-color, 0.7);
}

.marker-icon {
  height: calculateRem();
  width: calculateRem();
}
