@import '../../globalVars/mixins';
@import '../../globalVars/variables';

.card{
  width: 40%;
  height: 30vh;

  &:hover .card-inner {
    transform: rotateY(180deg);
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.img {
  width: 100%;
  height: 100%;
}

.card-front, .content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.content {
  transform: rotateY(180deg);
}

.card-back {
  height: 100%;
  padding: 10%;
}

.name, .description, .btn-delete {
  transform: rotateY(180deg);
}

.name {
  color: $secondary-color;
}

.description {
  color: $black;
}
