@import '../../globalVars/mixins';

.table {
  max-width: 90%;
  margin: calculateRem(32px) auto;
}

.table-head >{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header header";
}